.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 139.7rem;
}
.frame-2-hWD {
  width: 100%;
  height: 277.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-2-hWD .auto-group-majh-pqj {
  width: 139.7rem;
  height: 16.9485rem;
  position: absolute;
  left: 0;
  top: 1.2515rem;
}
.frame-2-hWD .auto-group-majh-pqj .rectangle-1-8rR {
  width: 139.7rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 5.1485rem;
  background-color: #461973;
}
.frame-2-hWD .auto-group-majh-pqj .icon-instagram-icon-4zy {
  width: 4rem;
  height: 4.1716rem;
  position: absolute;
  left: 100.3rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-hWD .auto-group-majh-pqj .icon-facebook-icon-bV7 {
  width: 4rem;
  height: 4.1459rem;
  position: absolute;
  left: 94.4rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-hWD .auto-group-majh-pqj .icon-twitter-LBo {
  width: 4rem;
  height: 3.3881rem;
  position: absolute;
  left: 106rem;
  top: 0.3129rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-hWD .auto-group-majh-pqj .icon-youtube-fE5 {
  width: 4.2667rem;
  height: 3.1287rem;
  position: absolute;
  left: 111.6rem;
  top: 0.5215rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-hWD .auto-group-majh-pqj .delinstituteoftechnologylogo-1-ykZ {
  width: 8.3rem;
  height: 8.3rem;
  position: absolute;
  left: 2rem;
  top: 6.8485rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-hWD
  .auto-group-majh-pqj
  .institut-teknologi-del-martuhanmarrohamarbisuk-gQ5 {
  width: 24.9rem;
  height: 4.9rem;
  position: absolute;
  left: 12.1rem;
  top: 8.9485rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-majh-pqj
  .institut-teknologi-del-martuhanmarrohamarbisuk-gQ5
  .institut-teknologi-del-martuhanmarrohamarbisuk-gQ5-sub-0 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-majh-pqj
  .institut-teknologi-del-martuhanmarrohamarbisuk-gQ5
  .institut-teknologi-del-martuhanmarrohamarbisuk-gQ5-sub-1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD .auto-group-majh-pqj .home-uRF {
  width: 6.3rem;
  height: 2.5rem;
  position: absolute;
  left: 46.6rem;
  top: 9.1776rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD .auto-group-majh-pqj .tentang-del-cKf {
  width: 11.8rem;
  height: 2.5rem;
  position: absolute;
  left: 56rem;
  top: 9.3862rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD .auto-group-majh-pqj .program-pendidikan-LFf {
  width: 11rem;
  height: 4.9rem;
  position: absolute;
  left: 73.4rem;
  top: 8.969rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-majh-pqj
  .program-pendidikan-LFf
  .program-pendidikan-LFf-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-majh-pqj
  .program-pendidikan-LFf
  .program-pendidikan-LFf-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-majh-pqj
  .program-pendidikan-LFf
  .program-pendidikan-LFf-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD .auto-group-majh-pqj .fasilitas-7JM {
  width: 8.2rem;
  height: 2.5rem;
  position: absolute;
  left: 89.4rem;
  top: 9.1776rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD .auto-group-majh-pqj .civitas-pCm {
  width: 6.9rem;
  height: 2.5rem;
  position: absolute;
  left: 101.9rem;
  top: 9.1776rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD .auto-group-majh-pqj .komunitas-LS1 {
  width: 10.5rem;
  height: 2.5rem;
  position: absolute;
  left: 112.5rem;
  top: 9.1776rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD .auto-group-majh-pqj .icon-arrow-down-1-ehb {
  width: 62.6858rem;
  height: 9.6038rem;
  position: absolute;
  left: 68.2rem;
  top: 1.4485rem;
  display: flex;
  align-items: flex-end;
}
.frame-2-hWD .auto-group-majh-pqj .icon-arrow-down-1-ehb .vector-Afw {
  margin-right: 14.6627rem;
  width: 1.1858rem;
  height: 0.7668rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-majh-pqj
  .icon-arrow-down-1-ehb
  .icon-arrow-down-1-WE1 {
  margin: 0rem 4.967rem 0.021rem 0rem;
  width: 40.6847rem;
  height: 0.8146rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-majh-pqj .icon-arrow-down-1-ehb .vector-bmF {
  margin-bottom: 8.837rem;
  width: 1.1858rem;
  height: 0.7668rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-majh-pqj .icon-search-Xuo {
  width: 4rem;
  height: 4.295rem;
  position: absolute;
  left: 132.1rem;
  top: 8.6561rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-hWD .auto-group-majh-pqj .id-fFK {
  width: 2rem;
  height: 2.5rem;
  position: absolute;
  left: 127.2rem;
  top: 0.5485rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD .berita-terkini-a7P {
  width: 38.9rem;
  height: 7.3rem;
  position: absolute;
  left: 49.3rem;
  top: 58.2rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD .line-4-ssB {
  width: 19.5rem;
  height: 0.05rem;
  position: absolute;
  left: 49.3rem;
  top: 66.25rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-hWD .auto-group-pogh-Qs7 {
  box-sizing: border-box;
  padding: 7.8rem 16.1rem 9.5rem 3.1rem;
  width: 139.7rem;
  height: 34.9rem;
  position: absolute;
  left: 0;
  top: 242.2rem;
  display: flex;
  align-items: center;
  background-color: #461973;
}
.frame-2-hWD .auto-group-pogh-Qs7 .del-1-6zq {
  margin: 0rem 2.1rem 0.7rem 0rem;
  width: 12.2rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .institut-teknologi-del-martuhanmarrohamarbisuk-RXK {
  margin: 0rem 14.8rem 0.5rem 0rem;
  max-width: 24.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .institut-teknologi-del-martuhanmarrohamarbisuk-RXK
  .institut-teknologi-del-martuhanmarrohamarbisuk-RXK-sub-0 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .institut-teknologi-del-martuhanmarrohamarbisuk-RXK
  .institut-teknologi-del-martuhanmarrohamarbisuk-RXK-sub-1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .contact-us-telp-62-632-331234-fax-62-632-331116-website-http-wwwdelacid-email-infodelacid-karir-karirdelacid-72m {
  margin: 0.6rem 6.8rem 0rem 0rem;
  max-width: 27.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .contact-us-telp-62-632-331234-fax-62-632-331116-website-http-wwwdelacid-email-infodelacid-karir-karirdelacid-72m
  .contact-us-telp-62-632-331234-fax-62-632-331116-website-http-wwwdelacid-email-infodelacid-karir-karirdelacid-72m-sub-0 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .contact-us-telp-62-632-331234-fax-62-632-331116-website-http-wwwdelacid-email-infodelacid-karir-karirdelacid-72m
  .contact-us-telp-62-632-331234-fax-62-632-331116-website-http-wwwdelacid-email-infodelacid-karir-karirdelacid-72m-sub-1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .contact-us-telp-62-632-331234-fax-62-632-331116-website-http-wwwdelacid-email-infodelacid-karir-karirdelacid-72m
  .contact-us-telp-62-632-331234-fax-62-632-331116-website-http-wwwdelacid-email-infodelacid-karir-karirdelacid-72m-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD .auto-group-pogh-Qs7 .auto-group-sgbp-r2H {
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-pogh-Qs7 .auto-group-sgbp-r2H .address-zPP {
  margin-bottom: 2.2rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-pogh-Qs7
  .auto-group-sgbp-r2H
  .institut-teknologi-del-jl-sisingamangaraja-sitoluama-laguboti-toba-samosir-sumatera-utara-indonesia-kode-pos-22381-KwT {
  max-width: 31.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 {
  box-sizing: border-box;
  padding: 0.9rem 0rem 4.5rem 0rem;
  width: 140rem;
  height: 112.4rem;
  position: absolute;
  left: 0;
  top: 129.8rem;
  background-color: #d9d9d9;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-oq73-uem {
  margin: 0rem 3.5rem 9.4rem 1.2rem;
  width: calc(100% - 4.7rem);
  display: flex;
  align-items: flex-start;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-oq73-uem .image-8-ES9 {
  margin: 0.8rem 4.1rem 0rem 0rem;
  width: 60.8rem;
  height: 34.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-oq73-uem .auto-group-ogi9-kfP {
  row-gap: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-oq73-uem
  .auto-group-ogi9-kfP
  .kegiatan-Vcy {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-oq73-uem
  .auto-group-ogi9-kfP
  .pada-hari-jumat-27-oktober-2023-diadakan-rapat-koordinasi-km-it-del-periode-2023-2024-yang-dihadiri-oleh-bapak-dr-arnaldo-marulitua-sinaga-st-minfotech-rektor-it-del-ibu-mariana-simanjuntak-ss-msc-direktur-pendidikan-it-del-juga-bapak-dan-ibu-unit-kemahasiswaan-rapat-koordinasi-ini-dilakukan-dengan-tujuan-untuk-meningkatkan-komunikasi-antar-anggota-tim-atau-departemen-dalam-melakukan-tugas-dan-tanggungjawab-dalam-setiap-kegiatan-dan-koordinasi-diharapkan-untuk-saling-kolaborasi-untuk-mencapai-tujuan-bersama-serta-mencari-ide-ide-dan-solusi-terbaik-38h {
  margin-left: 0.1rem;
  max-width: 70.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-oq73-uem
  .auto-group-ogi9-kfP
  .auto-group-fc1k-uq7 {
  margin-left: 0.4rem;
  width: 22.2rem;
  height: 4.4845rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #227be5;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #227be5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-dtgq-6eh {
  margin: 0rem 33.9rem 1.2rem 2.4rem;
  width: calc(100% - 36.3rem);
  display: flex;
  align-items: center;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-dtgq-6eh .pendaftaran-2HT {
  margin: 0.3rem 57rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-dtgq-6eh .informasi-beasiswa-kDT {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-2uux-UfF {
  margin: 0rem 0.3rem 2.9rem 0rem;
  width: calc(100% - 0.3rem);
  height: 24.6rem;
  display: flex;
  align-items: center;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-2uux-UfF .auto-group-jhqp-oBj {
  margin-right: 9.7rem;
  box-sizing: border-box;
  padding: 2.6rem 15.3rem 1.5rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-jhqp-oBj
  .auto-group-5qjo-XNd {
  margin: 0.8rem 1.7rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-jhqp-oBj
  .auto-group-5qjo-XNd
  .image-9-fUq {
  margin-bottom: 1.3rem;
  width: 26.9rem;
  height: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-jhqp-oBj
  .auto-group-5qjo-XNd
  .auto-group-omuw-Cjf {
  width: 22.2rem;
  height: 4.3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #227be5;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #227be5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-jhqp-oBj
  .auto-group-8tus-Se1 {
  margin-bottom: 3.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-jhqp-oBj
  .auto-group-8tus-Se1
  .pendaftaran-it-del-bWu {
  margin: 0rem 0rem 1.7rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-jhqp-oBj
  .auto-group-8tus-Se1
  .jalur-pmdk-jalur-usm-1-jalur-usm-2-jalur-usm-3-jalur-utbk-uGh {
  max-width: 9.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-2uux-UfF .auto-group-bxeq-CWh {
  box-sizing: border-box;
  padding: 1.3rem 0.8rem 1.5rem 1.9rem;
  width: 66.1rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw {
  margin: 0rem 0rem 1.2rem 0.4rem;
  width: calc(100% - 0.4rem);
  height: 16.3rem;
  display: flex;
  align-items: center;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .image-12-ReM {
  margin-right: 2.3rem;
  width: 30.1rem;
  height: 16.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB {
  margin: 1.3rem 0rem 1.1rem 0rem;
  height: calc(100% - 2.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB
  .beasiswa-institut-teknologi-del-fob {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB
  .auto-group-sted-Pjb {
  width: 26.1rem;
  height: 10.9rem;
  position: relative;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB
  .auto-group-sted-Pjb
  .beasiswa-prestasi-vjX {
  width: 13rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB
  .auto-group-sted-Pjb
  .beasiswa-kip-kuliah-qbb {
  width: 14.3rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB
  .auto-group-sted-Pjb
  .beasiswa-ppa-peningkatan-prestasi-akademik-kCm {
  width: 26.1rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB
  .auto-group-sted-Pjb
  .beasiswa-sea-scholarship-e3F {
  width: 18.8rem;
  height: 1.9rem;
  position: absolute;
  left: 0.1rem;
  top: 7.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-nf89-ijw
  .auto-group-dj3k-xuB
  .auto-group-sted-Pjb
  .beasiswa-alumni-Y8d {
  width: 12.1rem;
  height: 1.9rem;
  position: absolute;
  left: 0.1rem;
  top: 9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-2uux-UfF
  .auto-group-bxeq-CWh
  .auto-group-vfqy-2pV {
  width: 23.9rem;
  height: 4.3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #227be5;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #227be5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-radius: 1rem;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-t6pu-gPF {
  margin: 0rem 48.6rem 0.6rem 2.4rem;
  width: calc(100% - 51rem);
  display: flex;
  align-items: center;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-t6pu-gPF .prestasi-Qq3 {
  margin: 0.4rem 60.5rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-t6pu-gPF .kerja-sama-Kad {
  margin-bottom: 0.4rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-iajy-q3B {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  height: 24.6rem;
  display: flex;
  align-items: center;
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-iajy-q3B .auto-group-w54z-xNh {
  margin-right: 9.7rem;
  width: 63.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .prestasi-Urq {
  width: 12rem;
  height: 3.7rem;
  position: absolute;
  left: 1.8rem;
  top: 4.3458rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .rectangle-27-zKP {
  width: 63.9rem;
  height: 24.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .rectangle-28-Xq7 {
  width: 22.2rem;
  height: 4.3rem;
  position: absolute;
  left: 1.8rem;
  top: 18.8rem;
  border: solid 0.3rem #227be5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-radius: 1rem;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .selengkapnya-RQh {
  width: 17.1rem;
  height: 3.1rem;
  position: absolute;
  left: 4.3rem;
  top: 19.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #227be5;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .image-10-LGm {
  width: 28.1rem;
  height: 14.6rem;
  position: absolute;
  left: 2.4rem;
  top: 1.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .peraih-tesca-award-2014-eoF {
  width: 12.5rem;
  height: 1.3rem;
  position: absolute;
  left: 32.9rem;
  top: 12.8rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .prestasi-yang-telah-diraih-oleh-it-del-antara-lain--9zu {
  width: 23.8rem;
  height: 3.7rem;
  position: absolute;
  left: 32.9rem;
  top: 1.9rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .pernah-menjadi-perpustakaan-terbaik-se-sumatera-utara-2012-3qP {
  width: 30.1rem;
  height: 1.3rem;
  position: absolute;
  left: 32.9rem;
  top: 7.4rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-w54z-xNh
  .wakil-indonesia-dalam-semi-final-imagine-cup-dunia-2014-kategori-the-apps-for-office-challenge-round-one-8rq {
  width: 27.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.9rem;
  top: 10.1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.frame-2-hWD .auto-group-ugt7-Qi1 .auto-group-iajy-q3B .auto-group-5dkh-C61 {
  box-sizing: border-box;
  padding: 2.8rem 1.9rem 1.5rem 1.9rem;
  width: 66.1rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts {
  margin: 0rem 2.7rem 2.2rem 0rem;
  width: calc(100% - 2.7rem);
  display: flex;
  align-items: flex-start;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .image-11-2aq {
  margin-right: 1.6rem;
  width: 30.3rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .kerja-sama-strategis-it-del-antara-lain--hgy {
  margin-bottom: 0.7rem;
  max-width: 26.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .auto-group-67j5-cow {
  margin-left: 0.4rem;
  width: 27.3rem;
  height: 7.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .auto-group-67j5-cow
  .kth-royal-institute-of-technology-stockholm-swedia-Lzq {
  width: 27.3rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .auto-group-67j5-cow
  .weizmann-institute-of-science-tel-aviv-israel-qwb {
  width: 23rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .auto-group-67j5-cow
  .afeka-college-tel-aviv-israel-M9F {
  width: 15.2rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .auto-group-67j5-cow
  .pt-telkomsel-ePF {
  width: 7.8rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .auto-group-67j5-cow
  .universitas-gadjah-mada-mCy {
  width: 13.1rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 4.8rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-xi13-7Ts
  .auto-group-upss-9fT
  .auto-group-67j5-cow
  .institut-teknologi-bandung-itb-GvR {
  width: 16.6rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.frame-2-hWD
  .auto-group-ugt7-Qi1
  .auto-group-iajy-q3B
  .auto-group-5dkh-C61
  .auto-group-4h1p-Aku {
  width: 23.9rem;
  height: 4.3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #227be5;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #227be5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-radius: 1rem;
}
.frame-2-hWD .auto-group-9lvq-Bvu {
  box-sizing: border-box;
  padding: 4.9rem 1.8rem 3.616rem 1.8rem;
  width: 139.7rem;
  height: 63.5rem;
  position: absolute;
  left: 0;
  top: 66.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-2-hWD .auto-group-9lvq-Bvu .auto-group-mots-sHw {
  margin: 0rem 2.8rem 0.3rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-9lvq-Bvu .auto-group-mots-sHw .image-7-nvh {
  margin-right: 5.2rem;
  width: 41.2rem;
  height: 27.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-9lvq-Bvu .auto-group-mots-sHw .image-6-Kvd {
  margin-right: 4.6rem;
  width: 41.2rem;
  height: 27.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-9lvq-Bvu .auto-group-mots-sHw .image-5-597 {
  margin-top: 0.1rem;
  width: 41.1rem;
  height: 27.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-9lvq-Bvu .auto-group-jdnv-DFK {
  margin: 0rem 2.65rem 0.2rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-9lvq-Bvu
  .auto-group-jdnv-DFK
  .it-del-menjadi-tuan-rumah-29th-ieee-ict-conference-kW9 {
  margin-right: 7.7rem;
  max-width: 40.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-9lvq-Bvu
  .auto-group-jdnv-DFK
  .sosialisasi-data-diri-untuk-pddikti-dan-peraturan-kampus-kepada-mahasiswa-angkatan-2023-rZB {
  margin-right: 7.35rem;
  max-width: 37.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-9lvq-Bvu
  .auto-group-jdnv-DFK
  .mahasiswa-it-del-mengikuti-retreat-untuk-meningkatkan-karakter-3m-martuhanmarrohamarbisuk-KxZ {
  margin-bottom: 0.1rem;
  max-width: 39.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-9lvq-Bvu .auto-group-fuir-bfB {
  margin: 0rem 3.5rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-9lvq-Bvu
  .auto-group-fuir-bfB
  .institut-teknologi-del-berperan-sebagai-host-dalam-international-conference-on-telecommunications-ict-untuk-edisi-yang-ke-29-ict-merupakan-konferensi-yang-berfokus-pada-kemajuan-dan-penelitian-terkini-dalam-bidang-telekomunikasi-konferensi-ini-berlangsung-pada-tanggal-8-9-november-2023-berlokasi-di-toba-indonesia-vxM {
  margin: 0.8rem 5.75rem 0rem 0rem;
  max-width: 40.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-9lvq-Bvu
  .auto-group-fuir-bfB
  .kegiatan-dimulai-dengan-pembukaan-oleh-bapak-oka-simatupang-ssos-selaku-moderator-acara-yang-dilanjutkan-dengan-sambutan-hangat-dari-wakil-rektor-bidang-akademik-dan-kemahasiswaan-bapak-dr-johannes-harungguan-sianipar-st-mt-dan-direktur-pendidikan-ibu-mariana-simanjuntak-ss-msc-lalu-dilanjutkan-dengan-pemaparan-materi-yang-diberikan-oleh-bapak-anggiat-saud-parulian-strkom-hbj {
  margin: 0.7rem 1.95rem 0rem 0rem;
  max-width: 41.8rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD
  .auto-group-9lvq-Bvu
  .auto-group-fuir-bfB
  .sebagai-bentuk-untuk-meningkatkan-karakter-del-yakni-3m-martuhan-marroha-marbisuk-mahasiswa-it-del-angkatan-2021-sebanyak-399-orang-melaksanakan-retreat-dan-outbond-kegiatan-ini-dilaksanakan-dengan-2-gelombang-yakni-gelombang-i-pada-tanggal-29-29-oktober-2023-dan-gelombang-ii-pada-tanggal-4-5-november-2023-retreat-dilaksanakan-di-bukit-gibeon-sibisa-yang-didampingi-oleh-bapak-dan-ibu-asrama-it-del-TUR {
  max-width: 42.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-9lvq-Bvu .auto-group-y82h-ckd {
  margin: 0rem 58.6rem 0rem 55.3rem;
  width: calc(100% - 113.9rem);
  height: 4.4845rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #227be5;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #227be5;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ub6u-noX {
  box-sizing: border-box;
  padding: 14.872rem 0rem 11.749rem 2rem;
  width: 141.3535rem;
  height: 38.6rem;
  position: absolute;
  left: 0;
  top: 18.2rem;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/image-13-bg-xmT.png");
}
.frame-2-hWD .auto-group-ub6u-noX .vector-5Xj {
  margin: 0.088rem 121.574rem 0rem 0rem;
  width: 5.4154rem;
  height: 9.1708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ub6u-noX .icon-arrow-back-ios-oCq {
  box-sizing: border-box;
  padding: 1.342rem 3.178rem 1.355rem 3.563rem;
  width: 12.3639rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/vector-ZyF.png");
  flex-shrink: 0;
}
.frame-2-hWD .auto-group-ub6u-noX .icon-arrow-back-ios-oCq .vector-tVB {
  width: 5.6225rem;
  height: 9.2812rem;
  object-fit: contain;
  vertical-align: top;
}

.main-container {
  position: relative;
  width: 1397px;
  height: 2771px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  overflow: hidden;
}
.section {
  position: relative;
  width: 364.858px;
  height: 41.716px;
  margin: 12.515px 0 0 944px;
  z-index: 30;
}
.pic {
  position: absolute;
  width: 40px;
  height: 41.459px;
  top: 0;
  left: 0;
  background: url(./assets/images/c4ab0902-5a6d-4e1f-a99c-6bc72a176833.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}
.img {
  position: absolute;
  width: 40px;
  height: 41.716px;
  top: 0;
  left: 59px;
  background: url(./assets/images/045aff6d-f731-445a-8eff-c612f36045cc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 2;
}
.box {
  position: absolute;
  width: 10.1%;
  height: 100%;
  top: 0;
  left: 89.9%;
  z-index: 30;
}
.text {
  position: absolute;
  height: 24px;
  top: 5.485px;
  left: 0;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: left;
  z-index: 30;
}
.pic-2 {
  position: absolute;
  width: 32.17%;
  height: 18.38%;
  top: 34.72%;
  left: 67.83%;
  background: url(./assets/images/1a22ad2e-2482-44d9-b957-67125cf1e992.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}
.img-2 {
  position: absolute;
  width: 40px;
  height: 33.881px;
  top: 3.129px;
  left: 116px;
  background: url(./assets/images/7c10e476-90b3-43ca-b287-8ec3940869f1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.pic-3 {
  position: absolute;
  width: 42.667px;
  height: 31.287px;
  top: 5.215px;
  left: 172px;
  background: url(./assets/images/181519d9-aff2-452b-a33a-086599cf2de7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.group {
  position: relative;
  width: 1397px;
  height: 118px;
  margin: 9.769px 0 0 0;
  z-index: 29;
}
.box-2 {
  position: absolute;
  width: 1397px;
  height: 118px;
  top: 0;
  left: 0;
  background: rgb(70, 25, 115);
}
.pic-4 {
  position: absolute;
  width: 83px;
  height: 83px;
  top: 17px;
  left: 20px;
  background: url(./assets/images/e9f2e5a5c92ee0a16fd61159541ed279ad9f9c1b.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.pic-5 {
  position: absolute;
  width: 40px;
  height: 42.95px;
  top: 35.076px;
  left: 1321px;
  background: url(./assets/images/e6422535-e091-46d4-9eab-46f627d47989.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 29;
}
.box-3 {
  position: absolute;
  width: 284px;
  height: 54.8%;
  top: 32.2%;
  left: 8.66%;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 10;
}
.text-2 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.text-3 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: left;
}
.wrapper {
  position: absolute;
  width: 148px;
  height: 29.17%;
  top: 32.38%;
  left: 52.54%;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 13;
}
.text-4 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
}
.text-5 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: left;
}
.text-6 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
}
.text-7 {
  position: absolute;
  height: 14.14%;
  top: 34.14%;
  left: 33.36%;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 11;
}
.text-8 {
  position: absolute;
  height: 14.14%;
  top: 34.14%;
  left: 63.99%;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 14;
}
.text-9 {
  position: absolute;
  height: 14.14%;
  top: 34.14%;
  left: 72.94%;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 15;
}
.text-a {
  position: absolute;
  height: 14.14%;
  top: 34.14%;
  left: 80.53%;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 16;
}
.text-b {
  position: absolute;
  height: 15.02%;
  top: 35.91%;
  left: 40.09%;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 12;
}
.img-3 {
  position: absolute;
  width: 0.92%;
  height: 6.86%;
  top: 42.95%;
  left: 70.02%;
  background: url(./assets/images/7c9fbe57-1c5d-4aed-993d-fd1066734e08.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.img-4 {
  position: absolute;
  width: 0.85%;
  height: 6.5%;
  top: 43.53%;
  left: 48.82%;
  background: url(./assets/images/e44487c2-d717-41f4-b250-7b81596c9c2c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.img-5 {
  position: absolute;
  width: 0.92%;
  height: 5.78%;
  top: 43.95%;
  left: 78.1%;
  background: url(./assets/images/e477b27f-6756-4ec7-9ccb-2dfd554b3838.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}
.img-6 {
  position: absolute;
  width: 0.88%;
  height: 5.78%;
  top: 43.95%;
  left: 88.4%;
  background: url(./assets/images/d8025626-5404-407b-8643-efb233fa618d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 27;
}
.img-7 {
  position: absolute;
  width: 0.81%;
  height: 5.42%;
  top: 44.44%;
  left: 60.16%;
  background: url(./assets/images/fda1804c-8238-49dc-8ce2-fb122fbc846f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 23;
}
.box-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1393.535px;
  height: 120.016px;
  margin: 148.606px 0 0 20px;
  z-index: 49;
}
.pic-6 {
  flex-shrink: 0;
  position: relative;
  width: 54.154px;
  height: 91.708px;
  background: url(./assets/images/fd70d579-efb9-4770-a886-2f4d648c718e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.img-8 {
  flex-shrink: 0;
  position: relative;
  width: 123.639px;
  height: 120.016px;
  background: url(./assets/images/337c59a0-fcfa-432c-b233-086df8d27e1a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 49;
}
.text-c {
  display: inline-block;
  position: relative;
  height: 50.059px;
  margin: 131.379px 0 0 493px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 700;
  line-height: 72.614px;
  text-align: left;
  z-index: 31;
}
.img-9 {
  position: relative;
  width: 195.018px;
  height: 7.5px;
  margin: 26.941px 0 0 492.991px;
  background: url(./assets/images/1e3f443f-8bfc-4750-aca8-ebdfae4c9de1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1333px;
  height: 275px;
  margin: 45.5px 0 0 18px;
  z-index: 50;
}
.img-a {
  flex-shrink: 0;
  position: relative;
  width: 412px;
  height: 274px;
  background: url(./assets/images/84028d864e0083ea084d07448aa296fc8d69cbd2.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
}
.img-b {
  flex-shrink: 0;
  position: relative;
  width: 412px;
  height: 274px;
  background: url(./assets/images/a7a07bf684636b49f704f80687559f9879fb17ba.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}
.pic-7 {
  flex-shrink: 0;
  position: relative;
  width: 411px;
  height: 274px;
  background: url(./assets/images/0fd750169684251984062cc2e03d2acd1914a7a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.wrapper-3 {
  position: relative;
  width: 1343px;
  height: 72px;
  margin: 3px 0 0 7px;
  z-index: 99;
}
.text-d {
  position: absolute;
  width: 466px;
  height: 72px;
  top: 0;
  left: 448px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: center;
  z-index: 97;
}
.text-e {
  position: absolute;
  width: 405px;
  height: 66px;
  top: 3px;
  left: 938px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.784px;
  text-align: center;
  z-index: 99;
}
.text-f {
  position: absolute;
  width: 434px;
  height: 48px;
  top: 12px;
  left: 0;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: center;
  z-index: 98;
}
.group-2 {
  position: relative;
  width: 1329px;
  height: 186.416px;
  margin: 3px 0 0 15px;
  z-index: 46;
}
.text-10 {
  position: absolute;
  width: 428px;
  height: 171px;
  top: 0;
  left: 901px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: center;
  z-index: 43;
}
.text-11 {
  position: absolute;
  width: 410px;
  height: 144px;
  top: 8px;
  left: 0;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: center;
  z-index: 41;
}
.text-12 {
  position: absolute;
  width: 418px;
  height: 112px;
  top: 16px;
  left: 464px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 500;
  line-height: 15.733px;
  text-align: center;
  z-index: 42;
}
.text-13 {
  position: absolute;
  height: 14.55%;
  top: 85.45%;
  left: 43.57%;
  font-family: Inter;
  color: rgb(34, 123, 229);
  font-size: 25px;
  font-weight: 700;
  line-height: 30.256px;
  text-align: left;
  z-index: 46;
}
.section-2 {
  position: relative;
  width: 1441px;
  height: 1124px;
  margin: 55.584px 0 0 -3px;
  z-index: 96;
}
.section-3 {
  position: absolute;
  width: 1400px;
  height: 1124px;
  top: 0;
  left: 0;
  background: rgb(217, 217, 217);
  z-index: 38;
}
.text-14 {
  position: absolute;
  height: 3.62%;
  top: 0;
  left: 46.08%;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 48.409px;
  text-align: left;
  z-index: 51;
}
.pic-8 {
  position: absolute;
  width: 608px;
  height: 348px;
  top: 8px;
  left: 15px;
  background: url(./assets/images/796a3a79e1d752b646a6dda6a159ca737436679f.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}
.text-15 {
  position: absolute;
  width: 703px;
  height: 202px;
  top: 60px;
  left: 665px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: left;
  z-index: 78;
}
.text-16 {
  position: absolute;
  height: 2.41%;
  top: 26.45%;
  left: 47.95%;
  font-family: Inter;
  color: rgb(34, 123, 229);
  font-size: 25px;
  font-weight: 700;
  line-height: 30.256px;
  text-align: left;
  z-index: 56;
}
.text-17 {
  position: absolute;
  height: 3.2%;
  top: 40.04%;
  left: 53.99%;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.307px;
  text-align: left;
  z-index: 76;
}
.text-18 {
  position: absolute;
  height: 2.94%;
  top: 40.3%;
  left: 1.87%;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.307px;
  text-align: left;
  z-index: 73;
}
.img-c {
  position: absolute;
  width: 639px;
  height: 246px;
  top: 502px;
  left: 3px;
  background: url(./assets/images/1e64eb91-6273-45d0-b59b-3cd58de47b14.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.pic-9 {
  position: absolute;
  width: 661px;
  height: 246px;
  top: 502px;
  left: 739px;
  background: url(./assets/images/a10a4f30-7ae5-485b-9cf5-6f27a295ffa0.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.pic-a {
  position: absolute;
  width: 301px;
  height: 163px;
  top: 515px;
  left: 762px;
  background: url(./assets/images/17d5164e9f5e20ea3fe22b14977126db8deb494e.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
}
.text-19 {
  position: absolute;
  height: 2.94%;
  top: 46.98%;
  left: 21.37%;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 75;
}
.text-1a {
  position: absolute;
  height: 24px;
  top: 528px;
  left: 1086px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 87;
}
.img-d {
  position: absolute;
  width: 269px;
  height: 141px;
  top: 536px;
  left: 21px;
  background: url(./assets/images/75fde95448db596e7078eff58ad850e325de604f.png)
    no-repeat center;
  background-size: cover;
  z-index: 69;
}
.text-1b {
  position: absolute;
  height: 18px;
  top: 558px;
  left: 1086px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 88;
}
.text-1c {
  position: absolute;
  width: 133px;
  height: 115px;
  top: 570px;
  left: 307px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 22.998px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 72;
  overflow: hidden;
}
.text-1d {
  position: absolute;
  height: 18px;
  top: 576px;
  left: 1086px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 90;
}
.text-1e {
  position: absolute;
  width: 314px;
  height: 36px;
  top: 594px;
  left: 1086px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 91;
}
.text-1f {
  position: absolute;
  width: 210px;
  height: 36px;
  top: 630px;
  left: 1087px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 92;
}
.text-20 {
  position: absolute;
  height: 18px;
  top: 648px;
  left: 1087px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 93;
}
.text-21 {
  position: absolute;
  height: 30px;
  top: 697px;
  left: 46px;
  font-family: Inter;
  color: rgb(34, 123, 229);
  font-size: 25px;
  font-weight: 700;
  line-height: 30.256px;
  text-align: left;
  z-index: 59;
}
.text-22 {
  position: absolute;
  height: 30px;
  top: 697px;
  left: 786px;
  font-family: Inter;
  color: rgb(34, 123, 229);
  font-size: 25px;
  font-weight: 700;
  line-height: 30.256px;
  text-align: left;
  z-index: 62;
}
.text-23 {
  position: absolute;
  height: 2.94%;
  top: 69.13%;
  left: 52.19%;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.307px;
  text-align: left;
  z-index: 77;
}
.text-24 {
  position: absolute;
  height: 2.94%;
  top: 69.48%;
  left: 1.87%;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.307px;
  text-align: left;
  z-index: 74;
}
.img-e {
  position: absolute;
  width: 639px;
  height: 246px;
  top: 824px;
  left: 3px;
  background: url(./assets/images/bb7d25f2-4d26-4732-a51f-3cc3ed5625b6.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.pic-b {
  position: absolute;
  width: 661px;
  height: 246px;
  top: 824px;
  left: 739px;
  background: url(./assets/images/74f13475-b6db-4d06-9c8a-2199e2df8a8f.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.pic-c {
  position: absolute;
  width: 281px;
  height: 146px;
  top: 843px;
  left: 27px;
  background: url(./assets/images/a1f6b96a29e1f607d76959126ce0c723f0216305.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
}
.text-25 {
  position: absolute;
  width: 257px;
  height: 36px;
  top: 843px;
  left: 332px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 700;
  line-height: 18.153px;
  text-align: left;
  z-index: 94;
}
.pic-d {
  position: absolute;
  width: 303px;
  height: 138px;
  top: 852px;
  left: 758px;
  background: url(./assets/images/5f275ef669e5ecf3a517dfca0a7e7e554eac7fb5.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
}
.text-26 {
  position: absolute;
  width: 315px;
  height: 48px;
  top: 853px;
  left: 1077px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  z-index: 71;
}
.text-27 {
  position: absolute;
  height: 3.06%;
  top: 77.18%;
  left: 1.46%;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.307px;
  text-align: left;
  z-index: 52;
}
.text-28 {
  position: absolute;
  width: 308px;
  height: 24px;
  top: 898px;
  left: 332px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 95;
}
.text-29 {
  position: absolute;
  height: 12px;
  top: 909px;
  left: 1081px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 80;
}
.text-2a {
  position: absolute;
  height: 12px;
  top: 921px;
  left: 1081px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 81;
}
.text-2b {
  position: absolute;
  width: 295px;
  height: 24px;
  top: 925px;
  left: 332px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 96;
}
.text-2c {
  position: absolute;
  height: 12px;
  top: 933px;
  left: 1081px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 82;
}
.text-2d {
  position: absolute;
  height: 12px;
  top: 945px;
  left: 1081px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 83;
}
.text-2e {
  position: absolute;
  height: 12px;
  top: 952px;
  left: 332px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 89;
}
.text-2f {
  position: absolute;
  height: 12px;
  top: 957px;
  left: 1081px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 84;
}
.text-30 {
  position: absolute;
  height: 12px;
  top: 969px;
  left: 1081px;
  font-family: Inter;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.102px;
  text-align: left;
  z-index: 85;
}
.text-31 {
  position: absolute;
  height: 30px;
  top: 1017px;
  left: 789px;
  font-family: Inter;
  color: rgb(34, 123, 229);
  font-size: 25px;
  font-weight: 700;
  line-height: 30.256px;
  text-align: left;
  z-index: 65;
}
.text-32 {
  position: absolute;
  height: 30px;
  top: 1019px;
  left: 46px;
  font-family: Inter;
  color: rgb(34, 123, 229);
  font-size: 25px;
  font-weight: 700;
  line-height: 30.256px;
  text-align: left;
  z-index: 68;
}
.box-5 {
  position: relative;
  width: 1232px;
  height: 173px;
  margin: 69px 0 0 31px;
  z-index: 100;
}
.text-33 {
  position: absolute;
  height: 30px;
  top: 0;
  left: 886px;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  line-height: 30.256px;
  text-align: left;
  z-index: 34;
}
.wrapper-4 {
  position: absolute;
  width: 34.66%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.pic-e {
  position: absolute;
  width: 122px;
  height: 131px;
  top: 19px;
  left: 0;
  background: url(./assets/images/dcb320b040821c9bdf25389e51a0c347b233db5e.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.wrapper-5 {
  position: absolute;
  width: 284px;
  height: 37.38%;
  top: 35.26%;
  left: 33.49%;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 100;
}
.text-34 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.text-35 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: left;
}
.wrapper-6 {
  position: absolute;
  width: 346px;
  height: 167px;
  top: 6px;
  left: 540px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.784px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 36;
}
.text-36 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.text-37 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  line-height: 21.784px;
  text-align: left;
}
.text-38 {
  position: relative;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.text-39 {
  position: absolute;
  width: 346px;
  height: 120px;
  top: 53px;
  left: 886px;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: left;
  z-index: 37;
}
.pic-f {
  position: absolute;
  width: 1397px;
  height: 386px;
  top: 182px;
  left: 0;
  background: url(./assets/images/bbad9f8efc53043c467eaf5c04fda27850a016cc.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.section-4 {
  position: absolute;
  width: 15.89%;
  height: 1.62%;
  top: 43.92%;
  left: 40.87%;
  background: rgb(245, 245, 245);
  border: 3px solid rgb(34, 123, 229);
  z-index: 45;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.group-3 {
  position: absolute;
  width: 15.89%;
  height: 1.62%;
  top: 57.63%;
  left: 47.6%;
  background: rgb(245, 245, 245);
  border: 3px solid rgb(34, 123, 229);
  z-index: 55;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-7 {
  position: absolute;
  width: 239px;
  height: 43px;
  top: 1997px;
  left: 755px;
  background: rgb(245, 245, 245);
  border: 3px solid rgb(34, 123, 229);
  z-index: 61;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.section-5 {
  position: absolute;
  width: 222px;
  height: 43px;
  top: 1997px;
  left: 18px;
  background: rgb(245, 245, 245);
  border: 3px solid rgb(34, 123, 229);
  z-index: 58;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-8 {
  position: absolute;
  width: 239px;
  height: 43px;
  top: 2319px;
  left: 755px;
  background: rgb(245, 245, 245);
  border: 3px solid rgb(34, 123, 229);
  z-index: 64;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-9 {
  position: absolute;
  width: 222px;
  height: 43px;
  top: 2319px;
  left: 18px;
  background: rgb(245, 245, 245);
  border: 3px solid rgb(34, 123, 229);
  z-index: 67;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.img-f {
  position: absolute;
  width: 1397px;
  height: 349px;
  top: 2422px;
  left: 0;
  background: url(./assets/images/989f84e5-f2eb-4a1b-844a-5e04ffffbfdb.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}

body::-webkit-scrollbar {
  display: none;
}
